@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
     -moz-box-shadow: $x $y $blur $color;
          box-shadow: $x $y $blur $color;
}

@mixin transition($property, $duration) {
  -webkit-transition: $property $duration;
     -moz-transition: $property $duration;
      -ms-transition: $property $duration;
       -o-transition: $property $duration;
          transition: $property $duration;
}
